@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --primary: 180 100% 50%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

body {
background-color: black;
}


@media (min-width: 400px) {
  .customGrid {
   @apply grid-cols-3
  }
}
